PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/hotel_management_db
JWT_SECRET=supersecretkey_hotel_management_api
JWT_EXPIRES_IN=1d
MIDTRANS_SERVER_KEY=SB-Mid-server-xxxxxxxx
MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxxxxxx
MIDTRANS_MERCHANT_ID=your_midtrans_merchant_id_here
MIDTRANS_IS_PRODUCTION=false
BOOKING_EXPIRY_MINUTES=30
TOPUP_EXPIRY_MINUTES=30
WALLET_MIN_TOPUP=10000
WALLET_MAX_TOPUP=10000000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=youremail@gmail.com
SMTP_PASS=app_password_gmail
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
MAILTRAP_API_KEY=your_mailtrap_api_key_here
